<section class="footer-section">
  <div class="footer-container">
    <ul class="contact-container">
      <li class="contact-button">
        <a class="icon" href="https://github.com/JMO3E"><i class="fa-brands fa-github"></i></a>
      </li>
      <li class="contact-button">
        <a class="icon" href="https://www.linkedin.com/in/joseph-marrero-ocasio/"><i class="fa-brands fa-linkedin"></i></a>
      </li>
      <li class="contact-button">
        <a class="icon" href="mailto:joseph_marrero@outlook.com"><i class="fa-regular fa-envelope button-icon"></i></a>
      </li>
    </ul>
    <div class="copyright-container">
      <span>© 2024 Copyright: Joseph Marrero Ocasio</span>
    </div>
  </div>
</section>
