<section class="footer-section-style bg-black">
  <div class="container mx-auto pt-5">
    <ul class="d-flex justify-content-center m-0 contact-container-style">
      <li class="d-block text-center contact-button-style">
        <a class="icon" target="_blank" href="https://github.com/JMO3E"><fa-icon class="button-icon" [icon]="faGithub"></fa-icon></a>
      </li>
      <li class="d-block text-center contact-button-style">
        <a class="icon" target="_blank" href="https://www.linkedin.com/in/joseph-marrero-ocasio/"><fa-icon class="button-icon" [icon]="faLinkedin"></fa-icon></a>
      </li>
      <li class="d-block text-center contact-button-style">
        <a class="icon" href="mailto:joseph_marrero@outlook.com"><fa-icon class="button-icon" [icon]="faEnvelope"></fa-icon></a>
      </li>
    </ul>
    <div class="text-center copyright-container-style">
      <span>© 2026 Copyright: Joseph Marrero Ocasio</span>
    </div>
  </div>
</section>
