<section class="footer-section-style">
  <div class="container mx-auto pt-5">
    <ul class="d-flex justify-content-center m-0 contact-container-style">
      <li class="d-block text-center contact-button-style">
        <a class="icon" target="_blank" href="https://github.com/JMO3E"><i class="fa-brands fa-github"></i></a>
      </li>
      <li class="d-block text-center contact-button-style">
        <a class="icon" target="_blank" href="https://www.linkedin.com/in/joseph-marrero-ocasio/"><i class="fa-brands fa-linkedin"></i></a>
      </li>
      <li class="d-block text-center contact-button-style">
        <a class="icon" href="mailto:joseph_marrero@outlook.com"><i class="fa-regular fa-envelope button-icon"></i></a>
      </li>
    </ul>
    <div class="text-center copyright-container-style">
      <span>© 2025 Copyright: Joseph Marrero Ocasio</span>
    </div>
  </div>
</section>
