<section id="AboutMe" class="container-fluid d-flex justify-content-center aboutme-section-style">
  <div class="container aboutme-container-style">
    <div class="text-center mb-3">
      <h1 class="pb-2 aboutme-title">Hi, my name is Joseph and I'm <span class="iam-element"></span></h1>
    </div>
    <div class="container">
      <p class="pb-2 paragraph">
        I'm a versatile and results-driven Software Developer with a strong foundation in programming and hands-on experience across the entire Software Development Life Cycle (SDLC). Proficient in JavaScript, C#, and Python, and experienced with technologies like Angular, Flutter, .NET, databases, and AWS Cloud.
      </p>
      <p class="paragraph">
        Throughout my career, I’ve successfully developed and delivered software solutions that not only solve problems but also prioritize user experience and functionality. Eager to take new challenges, collaborate with cross-functional teams, and continuously expand my knowledge of new technologies.
      </p>
    </div>
  </div>
</section>
