@import '../../styles.scss';

.aboutme-section-style {
  background-color: black;
}

.aboutme-container-style {
  margin: 5rem;
  width: 75%;

  .aboutme-title {
    .iam-element {
      background-color: $turq-color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 2px solid $turq-color;
      padding-bottom: 2px;
    }
  }

  .paragraph-text {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media only screen and (max-width: 600px) {
  .aboutme-container-style {
    margin: 1rem 0;
    padding: 2rem 0;
    width: 90%;

    .aboutme-title {
      font-weight: 600;
      font-size: 1.4rem;
    }

    .paragraph-text {
      font-size: 1.2rem;
    }
  }
}
