<section id="AboutMe" class="container-fluid d-flex justify-content-center aboutme-section">
  <div class="aboutme-container">
    <div class="text-center mb-3">
      <h1 class="pb-2 aboutme-title">Hi, my name is Joseph and I'm <span class="iam-element"></span></h1>
    </div>
    <div class="paragraph-container">
      <p class="paragraph">
        I'm a developer with a solid foundation in programming and experience throughout the Software Development Life Cycle (SDLC). My journey as developer has led me to build software applications, video games, data pipelines and even to work in the cloud like Amazon Web Services (AWS). As a problem-solving and detail-oriented individual, I'm always looking to improve systems to ensure the organization's operations are executed efficiently. Quick learner, adaptable, and committed to expanding my skills and knowledge to bring the best solutions for futures applications and professional growth.
      </p>
    </div>
  </div>
</section>
