<section id="AboutMe" class="container-fluid d-flex justify-content-center aboutme-section-style">
  <div class="container aboutme-container-style">
    <div class="container text-center mb-3">
      <h1 class="pb-2 text-white aboutme-title">Hi, my name is Joseph and I'm a Software Developer!</h1>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-10 text-center">
        <p class="text-white fw-medium paragraph-text">
          I'm a versatile and results-driven Software Developer with a strong foundation in programming and hands-on experience across the entire Software Development Life Cycle (SDLC). Proficient in JavaScript, C#, and Python, and experienced with technologies such as Angular, Flutter, and .NET. Always open to new challenges, collaborating with cross-functional teams, and continually expanding my knowledge of new technologies.
        </p>
      </div>
    </div>
  </div>
</section>
