@import '../../styles.scss';

.aboutme-section-style {
  @extend %default-container-style;
}

.aboutme-container-style {
  margin: 5rem;
  width: 75%;

  .aboutme-title {
    @extend %white-font-style;

    .iam-element {
      background-color: #5cdb95;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 2px solid #5cdb95;
      padding-bottom: 2px;
    }
  }

  .paragraph {
    color: #f1f8fc;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
  }
}

@media only screen and (max-width: 600px) {
  .aboutme-container-style {
    margin: 1rem 0;
    padding: 2rem 0;
    width: 90%;

    .aboutme-title {
      font-weight: 600;
      font-size: 1.6rem;
    }

    .paragraph {
      font-size: 1.2rem;
    }
  }
}
