.aboutme-section {
  display: flex;
  justify-content: center;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);

  .aboutme-container {
    width: 50%;
    margin: 5rem;

    .title-container {
      text-align: center;

      .title {
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.125;
        background: linear-gradient(135deg,hsla(0,0%,100%,0) 56%,#acacab 98%), linear-gradient(25deg,#f1f8fc 23%,#fff 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        .iam-element {
          background-color: #5cdb95;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border-bottom: 2px solid #5cdb95;
          padding-bottom: 6px;
        }
      }
    }

    .paragraph-container {

      .paragraph {
        color: #f1f8fc;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.25;
      }
    }
  }
}
