@import '../../styles.scss';

.landing-section {
  height: 100vh;

  .landing-title {
    font-size: clamp(3.5rem, 8vw, 6rem);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.03rem;
    padding: 0.9375rem;
    margin-bottom: 5rem;
  }

  .landing-subtitle {
    font-weight: 400;
    padding-bottom: 6px;
  }

  h1 {
    @extend %white-font-style;
  }
}
