@import '../../styles.scss';

.dropdown-toggle::after {
  color: $white-color;
}

.navbar-toggler {
  background-color: $white-color;
  border: none;
}

.navbar-container {
  max-width: 1800px;
}

.navbar-container-links {
  max-width: 1200px;
  font-size: 1rem;
}

.navbar-link-style {
  color: $white-color;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.875rem 3.75rem;
}

.navbar-link-style:hover {
  color: $base-color;
  cursor: pointer;
}

.nav-item {
  border-bottom: 1px solid $base-color;
}

@media (min-width: 1024px) {
  .nav-item {
    border-bottom: 0px;
  }
}
