@import '../../styles.scss';

.navbar {
  background-color: black;
}

.dropdown-toggle::after {
  color: white;
}

.navbar-toggler {
  background-color: white;
  border: none;
}

.navbar-container {
  max-width: 1800px;
}

.navbar-container-links {
  max-width: 1200px;
  font-size: 1rem;
}

.navbar-link-style {
  color: white;
  font-size: 1.125rem;
  padding: 0.875rem 3.75rem;
}

.navbar-link-style:hover {
  color: #FFEB3B;
  cursor: pointer;
}

.nav-item {
  border-bottom: 1px solid #FFEB3B;
}

@media (min-width: 1024px) {
  .nav-item {
    border-bottom: 0px;
  }
}
