<nav id="Home" class="navbar navbar-expand-lg">
  <div class="container-fluid navbar-container my-2">
    <div class="lh-sm ms-0 ms-md-5">
      <a href="#Landing">
        <img src="../../assets/JMO_C.png" alt="JMO Logo" height="40" class="d-none d-sm-block mx-5">
        <img src="../../assets/JMO_C.png" alt="JMO Logo" height="30" class="d-block d-sm-none mx-2">
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="d-flex flex-column list-unstyled m-0 p-0 mb-md-0 fw-semibold flex-md-row flex-grow-1 navbar-container-links">
        <li class="nav-item ms-md-auto p-2">
          <a class="d-block text-center text-decoration-none navbar-link-style" href="#Landing">Home</a>
        </li>
        <li class="nav-item ms-md-auto p-2">
          <a class="d-block text-center text-decoration-none navbar-link-style" href="#AboutMe">About Me</a>
        </li>
        <li class="nav-item ms-md-auto p-2">
          <a class="d-block text-center text-decoration-none navbar-link-style" href="#Skills">Skills</a>
        </li>
        <li class="nav-item ms-md-auto p-2">
          <a class="d-block text-center text-decoration-none navbar-link-style" href="#Projects">Projects</a>
        </li>
        <li class=" ms-md-auto me-md-auto pt-2">
          <a class="d-block text-center text-decoration-none navbar-link-style" href="#Achievements">Achievements</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
