<nav id="Home" class="navbar navbar-expand-lg navbar-section">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-container collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-links navbar-nav mr-auto">
      <li><a class="navbar-link" href="#Landing">Home</a></li>
      <li><a class="navbar-link" href="#AboutMe">About Me</a></li>
      <li><a class="navbar-link" href="#Skills">Skills</a></li>
      <li><a class="navbar-link" href="#Projects">Projects</a></li>
      <li><a class="navbar-link" href="#Achievements">Achievements</a></li>
    </ul>
  </div>
</nav>
