.navbar{

  .navbar-links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;

    .navbar-link {
      display: block;
      color: #f1f8fc;
      font-size: 1.25rem;     // 20px
      font-weight: 600;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

      transition: transform 0.3s ease;
      will-change: transform;
      transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    }

    .navbar-link:hover {
      color: #abb0b3;
      cursor: pointer;
      transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1.1, 1.1, 1.1);
    }
  }
}
