@import '../../styles.scss';

.project-title-style{
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 2px;

  @extend %white-font-style;
}

.project-card-style {
  width: 20rem;
  height: 30rem;

  @extend %default-container-style;

  transition: transform 0.3s ease;
  transform: scale(1) translateZ(0);

  padding: 0.875rem 0.5rem;
  text-decoration: none;

  .card-content {
    padding: 1rem;

    .card-image {
      img {
        height: 9rem;
        width: 100%;
        border-radius: 12px;
      }
    }

    .card-info {
      height: 9.4rem;
      .card-title {
        text-align: center;
        font-size: 1.4rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-weight: 600;
      }

      .card-paragraph {
        color: #f1f8fc;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25;
      }
    }

    .card-button {
      @extend %button-credential-style;
    }
  }
}

.project-card-style:hover{
  transform: scale(1.05) translateZ(0);
}

@media only screen and (max-width: 600px) {
  .project-title-style{
    font-size: 2.5rem;
  }
}
