<section id="Projects" class="container-fluid d-flex flex-column justify-content-center bg-black">
  <div class="container mb-5">
    <div class="text-center my-5">
      <h1 class="display-4 fw-semibold text-white skills-title-style project-title-style">My Projects</h1>
    </div>
    <div class="container mb-5">
      <div class="row row-height gap-5 justify-content-center">
        <div class="card rounded-2 text-white" style="width: 24rem;">
          <div class="card-image d-flex justify-content-center">
            <img src="assets/sr_home.png" alt="SatoRescue Image" class="card-img-top p-3">
          </div>
          <div class="card-body">
            <div class="card-text text-dark h-50">
              <h3 class="card-title">Sato Rescue</h3>
              <p class="card-paragraph">
                Sato Rescue is a SaaS platform focused on addressing stray animal issues by streamlining rescue operations, case reporting, and adoption workflows.
              </p>
            </div>
            <div class="card-button mt-auto">
              <a class="button-credential" target="_blank" href="https://satorescuepr.com/">
                <span class="pvs-navigation__text">
                  Show Project
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="card rounded-2 text-white" style="width: 24rem;">
          <div class="card-image d-flex justify-content-center">
            <img src="assets/BikeSyncImg.png" alt="BikeSync Cycling Training Image" class="card-img-top p-3">
          </div>
          <div class="card-body">
            <div class="card-text text-dark h-50">
              <h3 class="card-title">SPARK</h3>
              <p class="card-paragraph">
                SPARK is a web application that helps a cycling coach present their services, training plans, and professional background.
              </p>
            </div>
            <div class="card-button mt-auto">
              <a class="button-credential" target="_blank" href="">
                <span class="pvs-navigation__text">
                  Show Repository
                </span>
              </a>
            </div>
          </div>
        </div> -->
        <div class="card rounded-2 text-white" style="width: 24rem;">
          <div class="card-image d-flex justify-content-center">
            <img src="assets/BikeSyncImg.png" alt="BikeSync Cycling Training Image" class="card-img-top p-3">
          </div>
          <div class="card-body">
            <div class="card-text text-dark h-50">
              <h3 class="card-title">BikeSync Cycling Training</h3>
              <p class="card-paragraph">
                BikeSync Cycling Training is a web application that helps a cycling coach present their services, training plans, and professional background.
              </p>
            </div>
            <div class="card-button mt-auto">
              <a class="button-credential" target="_blank" href="https://bikesynccyclingtraining.webflow.io/">
                <span class="pvs-navigation__text">
                  Show Repository
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card rounded-2 text-white" style="width: 24rem;">
          <div class="card-image d-flex justify-content-center">
            <img src="assets/automate-testing.png" alt="Automate Testing API Image" class="card-img-top p-3">
          </div>
          <div class="card-body">
            <div class="card-text text-dark h-50">
              <h3 class="card-title">Automated Testing API</h3>
              <p class="card-paragraph">
                This project focus on designing and executing automated test cases for a Express.js backend service, ensuring reliability and quality.
              </p>
            </div>
            <div class="card-button mt-auto">
              <a class="button-credential" target="_blank" href="https://github.com/JMO3E/Automated-Testing-API">
                <span class="pvs-navigation__text">
                  Show Repository
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="card rounded-2 text-white" style="width: 24rem;">
          <div class="card-image d-flex justify-content-center">
            <img src="assets/CryptoCoinPipeline.png" alt="CryptoCoinPipeline Image" class="card-img-top p-3">
          </div>
          <div class="card-body">
            <div class="card-text text-dark h-50">
              <h3 class="card-title">Crypto Coins Data Pipeline</h3>
              <p class="card-paragraph">
                Crypto Coins is an end-to-end data project that consist of building an ETL pipeline to extract data, then clean the data and finally store it in AWS S3 bucket.
              </p>
            </div>
            <div class="card-button mt-auto">
              <a class="button-credential" target="_blank" href="https://github.com/JMO3E/Crypto-Coins-Data">
                <span class="pvs-navigation__text">
                  Show Repository
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
