<section id="Projects" class="container-fluid d-flex flex-column justify-content-center project-section">
  <div class="text-center my-5">
    <h1 class="project-title">My Projects</h1>
  </div>
  <div class="container">
    <div class="row row-cols-3 projects-cards-container">
      <div class="col project-card">
        <div class="card-content">
          <div class="card-image">
            <img src="assets/mbs-main.png" alt="My Bike Studio Image">
          </div>
          <div class="card-info">
            <h3 class="card-title">My Bike Studio</h3>
            <p class="card-paragraph">
              My Bike Studio is a simple REST API based application designed to help users save information about their favorite bikes.
            </p>
          </div>
          <div class="card-button">
            <a class="button-credential" target="_blank" href="https://github.com/JMO3E/My-Bike-Studio">
              <span class="pvs-navigation__text">
                Show Project
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col project-card">
        <div class="card-content">
          <div class="card-image">
            <img src="assets/CryptoCoinPipeline.png" alt="CoinMarketCapETL Image">
          </div>
          <div class="card-info">
            <h3 class="card-title">Crypto Coins Data</h3>
            <p class="card-paragraph">
              Crypto Coins Data is an ETL pipeline that periodically get data from an API, then cleans it and saves it to csv files, and then stores those files in the AWS S3 bucket.
            </p>
          </div>
          <div class="card-button">
            <a class="button-credential" target="_blank" href="https://github.com/JMO3E/Crypto-Coins-Data">
              <span class="pvs-navigation__text">
                Show Project
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col project-card">
        <div class="card-content">
          <div class="card-image">
            <img src="assets/WorldDataPipeline.png" alt="WorldDataEL Image">
          </div>
          <div class="card-info">
            <h3 class="card-title">World Data Pipeline</h3>
            <p class="card-paragraph">
              World Data Pipeline is an EL pipeline that was created to transfer historical data from an on-premises MySQL database to AWS Cloud S3 Bucket.
            </p>
          </div>
          <div class="card-button">
            <a class="button-credential" target="_blank" href="https://github.com/JMO3E/World-Data-Pipeline">
              <span class="pvs-navigation__text">
                Show Project
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col project-card">
        <div class="card-content">
          <div class="card-image">
            <img src="assets/BasicThermometer.png" alt="Basic Thermometer Image">
          </div>
          <div class="card-info">
            <h3 class="card-title">Basic Thermometer</h3>
            <p class="card-paragraph">
              A basic thermometer built with Arduino using the Arduino Micro board to read temperature and humidity.
            </p>
          </div>
          <div class="card-button">
            <a class="button-credential" target="_blank" href="https://github.com/JMO3E/Basic-Thermometer">
              <span class="pvs-navigation__text">
                Show Project
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col project-card">
        <div class="card-content">
          <div class="card-image">
            <img src="assets/Cyclistic_Dashboard.png" alt="Case Study: Cyclistic">
          </div>
          <div class="card-info">
            <h3 class="card-title">Case Study: Bike Shares</h3>
            <p class="card-paragraph">
              This case study focuses on trying to help a company convert casual riders into annual members by analyzing data and creating marketing strategies.
            </p>
          </div>
          <div class="card-button">
            <a class="button-credential" target="_blank" href="https://github.com/JMO3E/Case-Study-Bike-Shares">
              <span class="pvs-navigation__text">
                Show Project
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col project-card">
        <div class="card-content">
          <div class="card-image">
            <img src="assets/PR_Monthly.png" alt="Case Study: Puerto Rico Covid">
          </div>
          <div class="card-info">
            <h3 class="card-title">Case Study: PR Covid-19</h3>
            <p class="card-paragraph">
              This case study focuses on finding which were the months in Puerto Rico with the most cases of Covid-19 and what situation helped increase the cases.
            </p>
          </div>
          <div class="card-button">
            <a class="button-credential" target="_blank" href="https://github.com/JMO3E/Case-Study-PR-Covid">
              <span class="pvs-navigation__text">
                Show Project
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
