<section id="Projects" class="container-fluid d-flex flex-column justify-content-center">
  <div class="text-center my-5">
    <h1 class="project-title-style">My Projects</h1>
  </div>
  <div class="container mb-3">
    <div class="row row-cols-3 justify-content-center align-items-center align-self-center gap-5">
      <div class="col rounded-3 text-white me-0 me-md-5 mb-0 mb-md-3 project-card-style">
        <div class="card-content">
          <div class="card-image">
            <img src="assets/work_in_progress.png" alt="NutriCoach Image">
          </div>
          <div class="card-info">
            <h3 class="card-title">NutriCoach</h3>
            <p class="card-paragraph">
              NutriCoach is a software application designed to help athletes manage their daily nutrition by adjusting their intakes by training intensity.
            </p>
          </div>
          <div class="card-button">
            <a class="button-credential btn disabled" target="_blank">
              <span class="pvs-navigation__text">
                In Progress
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col rounded-3 text-white me-0 me-md-5 mb-0 mb-md-3 project-card-style">
        <div class="card-content">
          <div class="card-image">
            <img src="assets/mbs-main.png" alt="My Bike Studio Image">
          </div>
          <div class="card-info">
            <h3 class="card-title">My Bike Studio</h3>
            <p class="card-paragraph">
              My Bike Studio is a simple REST API based application designed to help users save information about their favorite bikes.
            </p>
          </div>
          <div class="card-button">
            <a class="button-credential" target="_blank" href="https://github.com/JMO3E/My-Bike-Studio">
              <span class="pvs-navigation__text">
                Show Project
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="col rounded-3 text-white me-0 me-md-5 mb-0 mb-md-3 project-card-style">
        <div class="card-content">
          <div class="card-image">
            <img src="assets/CryptoCoinPipeline.png" alt="CoinMarketCapETL Image">
          </div>
          <div class="card-info">
            <h3 class="card-title">Crypto Coins Data</h3>
            <p class="card-paragraph">
              Crypto Coins Data is an ETL pipeline that periodically get data from an API, then cleans it and saves it to csv files, and then stores those files in the AWS S3 bucket.
            </p>
          </div>
          <div class="card-button">
            <a class="button-credential" target="_blank" href="https://github.com/JMO3E/Crypto-Coins-Data">
              <span class="pvs-navigation__text">
                Show Project
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col rounded-3 text-white me-0 me-md-5 mb-0 mb-md-3 project-card-style">
        <div class="card-content">
          <div class="card-image">
            <img src="assets/WorldDataPipeline.png" alt="WorldDataEL Image">
          </div>
          <div class="card-info">
            <h3 class="card-title">World Data Pipeline</h3>
            <p class="card-paragraph">
              World Data Pipeline is an EL pipeline that was created to transfer historical data from an on-premises MySQL database to AWS Cloud S3 Bucket.
            </p>
          </div>
          <div class="card-button">
            <a class="button-credential" target="_blank" href="https://github.com/JMO3E/World-Data-Pipeline">
              <span class="pvs-navigation__text">
                Show Project
              </span>
            </a>
          </div>
        </div>
      </div> -->
      <div class="col rounded-3 text-white me-0 me-md-5 mb-0 mb-md-3 project-card-style">
        <div class="card-content">
          <div class="card-image">
            <img src="assets/BasicThermometer.png" alt="Basic Thermometer Image">
          </div>
          <div class="card-info">
            <h3 class="card-title">Basic Thermometer</h3>
            <p class="card-paragraph">
              A basic thermometer built with Arduino using the Arduino Micro board to read temperature and humidity.
            </p>
          </div>
          <div class="card-button">
            <a class="button-credential" target="_blank" href="https://github.com/JMO3E/Basic-Thermometer">
              <span class="pvs-navigation__text">
                Show Project
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
