<section id="Skills" class="container-fluid d-flex flex-column justify-content-center bg-black">
  <div class="container mb-5">
    <div class="text-center my-5">
      <h1 class="display-4 fw-semibold text-white skills-title-style">My Skills</h1>
    </div>
    <div class="container mb-5">
      <div class="row row-height gap-5 justify-content-center">
        <!--PROGRAMMING-->
        <div class="col-lg-3 rounded-2 text-dark skill-card-style text-start">
          <div class="skill-card-title">
            <div class="d-flex">
              <h3 class="ms-3 fw-semibold">Coding Languages</h3>
            </div>
          </div>
          <div class="container skill-card-content mb-3">
            <div class="row row-cols-1 gap-2">
              <div class="col ms-1">
                <img alt="javascript" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"/>
                <span class="ms-2 align-text-top">JavaScript</span>
              </div>
              <div class="col ms-1">
                <img alt="typescript" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"/>
                <span class="ms-2 align-text-top">TypeScript</span>
              </div>
              <div class="col ms-1">
                <img alt="csharp" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg"/>
                <span class="ms-2 align-text-top">C#</span>
              </div>
              <div class="col ms-1">
                <img alt="python" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"/>
                <span class="ms-2 align-text-top">Python</span>
              </div>
              <div class="col ms-1">
                <img alt="cplusplus" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg"/>
                <span class="ms-2 align-text-top">C++</span>
              </div>
              <div class="col ms-1">
                <img alt="java" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"/>
                <span class="ms-2 align-text-top">Java</span>
              </div>
            </div>
          </div>
        </div>
        <!--FRONTEND-->
        <div class="col-lg-3 rounded-2 text-dark skill-card-style text-start">
          <div class="skill-card-title">
            <h3 class="ms-3 fw-semibold">Frontend</h3>
          </div>
          <div class="container skill-card-content mb-3">
            <div class="row row-cols-1 gap-2">
              <div class="col ms-1">
                <img alt="angular" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angular/angular-original.svg"/>
                <span class="ms-2 align-text-top">Angular</span>
              </div>
              <div class="col ms-1">
                <img alt="react" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
                <span class="ms-2 align-text-top">React</span>
              </div>
              <div class="col ms-1">
                <img alt="nextjs" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg"/>
                <span class="ms-2 align-text-top">Next.JS</span>
              </div>
              <div class="col ms-1">
                <img alt="flutter" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg"/>
                <span class="ms-2 align-text-top">Flutter</span>
              </div>
              <div class="col ms-1">
                <img alt="react" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
                <span class="ms-2 align-text-top">React Native</span>
              </div>
            </div>
          </div>
        </div>
        <!--BACKEND-->
        <div class="col-lg-3 rounded-2 text-dark skill-card-style text-start">
          <div class="skill-card-title">
            <h3 class="ms-3 fw-semibold">Backend</h3>
          </div>
          <div class="container skill-card-content mb-3">
            <div class="row row-cols-1 gap-2">
              <div class="col ms-1">
                <img alt="dotnetcore" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"/>
                <span class="ms-2 align-text-top">.NET Core</span>
              </div>
              <div class="col ms-1">
                <img alt="express" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"/>
                <span class="ms-2 align-text-top">Express.JS</span>
              </div>
              <div class="col ms-1">
                <img alt="nodejs" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"/>
                <span class="ms-2 align-text-top">Node.JS</span>
              </div>
              <div class="col ms-1">
                <img alt="spring" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"/>
                <span class="ms-2 align-text-top">Spring Boot</span>
              </div>
            </div>
          </div>
        </div>
        <!--DATABASES-->
        <div class="col-lg-3 rounded-2 text-dark skill-card-style text-start">
          <div class="skill-card-title">
            <h3 class="ms-3 fw-semibold">Databases</h3>
          </div>
          <div class="container skill-card-content mb-3">
            <div class="row row-cols-1 gap-2">
              <div class="col ms-1">
                <img alt="microsoftsqlserver" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-original.svg"/>
                <span class="ms-2 align-text-top">MS SQL Server</span>
              </div>
              <div class="col ms-1">
                <img alt="mysql" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"/>
                <span class="ms-2 align-text-top">MySQL</span>
              </div>
              <div class="col ms-1">
                <img alt="postgresql" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"/>
                <span class="ms-2 align-text-top">PostgreSQL</span>
              </div>
              <div class="col ms-1">
                <img alt="sqlite" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg"/>
                <span class="ms-2 align-text-top">SQLite</span>
              </div>
            </div>
          </div>
        </div>
        <!--Cloud & Containers-->
        <div class="col-lg-3 rounded-2 text-dark skill-card-style text-start">
          <div class="skill-card-title">
            <h3 class="ms-3 fw-semibold">Cloud & Containers</h3>
          </div>
          <div class="container skill-card-content mb-3">
            <div class="row row-cols-1 gap-2">
              <div class="col ms-1">
                <img alt="amazonwebservices" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"/>
                <span class="ms-2 align-text-top">Amazon Web Services</span>
              </div>
              <div class="col ms-1">
                <img alt="azure" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg"/>
                <span class="ms-2 align-text-top">Azure</span>
              </div>
              <div class="col ms-1">
                <img alt="docker" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"/>
                <span class="ms-2 align-text-top">Docker</span>
              </div>
              <!-- <div class="col ms-1">
                <img alt="kubernetes" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kubernetes/kubernetes-original.svg"/>
                <span class="ms-2 align-text-top">Kubernetes</span>
              </div> -->
            </div>
          </div>
        </div>
        <!--Tools-->
        <div class="col-lg-3 rounded-2 text-dark skill-card-style text-start">
          <div class="skill-card-title">
            <h1 class="ms-3">Tools</h1>
          </div>
          <div class="container skill-card-content mb-3">
            <div class="row row-cols-1 gap-2">
              <div class="col ms-1">
                <img alt="git" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"/>
                <span class="ms-2 align-text-top">Git</span>
              </div>
              <div class="col ms-1">
                <img alt="mocha" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mocha/mocha-original.svg"/>
                <span class="ms-2 align-text-top">Mocha</span>
              </div>
              <div class="col ms-1">
                <img alt="postman" width="24px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postman/postman-original.svg"/>
                <span class="ms-2 align-text-top">Postman</span>
              </div>
              <div class="col ms-1 pb-3">
              </div>
              <div class="col ms-1 pb-3">
              </div>
              <div class="col ms-1 pb-3">
              </div>
              <div class="col ms-1 pb-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
