@import '../../styles.scss';

.skill-card-style {
  background-color: white;

  padding: 0.875rem 1rem;
  text-decoration: none;

  .skill-card-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    h1 {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  .skill-card-content {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 600px) {
  .skills-title-style{
    font-size: 2.5rem;
  }
}
