<section id="Skills" class="container-fluid d-flex flex-column justify-content-center">
  <div class="text-center my-5">
    <h1 class="skills-title-style">My Skills</h1>
  </div>
  <div class="container mb-3">
    <div class="row row-cols-3 justify-content-center align-items-center align-self-center gap-5">
      <div class="col rounded-3 text-white me-0 me-md-5 mb-0 mb-md-3 skill-card-style">
        <div class="skill-card-title">
          <h1>Programming</h1>
        </div>
        <div class="skill-card-content">
          <ul class="row row-cols-1 gap-2">
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>Javascript</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>C#</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>Java</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>Python</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>C++</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>SQL</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col rounded-3 text-white me-0 me-md-5 mb-0 mb-md-3 skill-card-style">
        <div class="skill-card-title">
          <h1>Front End</h1>
        </div>
        <div class="skill-card-content">
          <ul class="row row-cols-1 gap-2">
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>Angular</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>Bootstrap</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>Bulma</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>Tailwind.css</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col rounded-3 text-white me-0 me-md-5 mb-0 mb-md-3 skill-card-style">
        <div class="skill-card-title">
          <h1>Back End</h1>
        </div>
        <div class="skill-card-content">
          <ul class="row row-cols-1 gap-2">
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>Spring Boot</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>.NET</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>Express.JS</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>Node.JS</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col rounded-3 text-white me-0 me-md-5 mb-0 mb-md-3 skill-card-style">
        <div class="skill-card-title">
          <h1>Databases</h1>
        </div>
        <div class="skill-card-content">
          <ul class="row row-cols-1 gap-2">
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>MS SQL Server</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>MySQL</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>SQLite</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>MongoDB</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col rounded-3 text-white me-0 me-md-5 mb-0 mb-0 mb-md-3 skill-card-style">
        <div class="skill-card-title">
          <h1>Others</h1>
        </div>
        <div class="skill-card-content">
          <ul class="row row-cols-1 gap-2">
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>AWS Cloud</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>Docker Container</span>
            </li>
            <li class="col">
              <i class="fa-solid fa-angle-right pe-2"></i>
              <span>Postman</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
