@import '../../styles.scss';

.skills-title-style {
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 2px;

  @extend %white-font-style;
}

.skill-card-style {
  width: 20rem;
  height: 20rem;

  @extend %default-container-style;

  transition: transform 0.3s ease;
  transform: scale(1) translateZ(0);

  padding: 0.875rem 1rem;
  text-decoration: none;

  .skill-card-title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h1 {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  .skill-card-content {
    font-size: 1.2rem;
    font-weight: 400;

    li {
      list-style-type:none;

      .icon-images {
        width: 2.2rem;
      }
    }

  }
}

.skill-card-style:hover{
  transform: scale(1.05) translateZ(0);
}

@media only screen and (max-width: 600px) {
  .skills-title-style{
    font-size: 2.5rem;
  }
}
