<section id="Skills" class="container-fluid d-flex flex-column justify-content-center bg-black">
  <div class="container mb-5">
    <div class="text-center my-5">
      <h1 class="display-4 fw-semibold text-white skills-title-style">My Skills</h1>
    </div>
    <div class="container mb-5">
      <div class="row row-height gap-5 justify-content-center">
        <!--PROGRAMMING-->
        <div class="col-lg-3 rounded-2 text-dark skill-card-style text-start">
          <div class="skill-card-title">
            <div class="d-flex">
              <h1 class="ms-3">Programming</h1>
            </div>
          </div>
          <div class="container skill-card-content mb-3">
            <div class="row row-cols-1 gap-2">
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #FFD43B;"></fa-icon>
                <span class="ms-2">JavaScript / TypeScript</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #74C0FC;"></fa-icon>
                <span class="ms-2">C#</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #B197FC;"></fa-icon>
                <span class="ms-2">Python</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #FFD43B;"></fa-icon>
                <span class="ms-2">C++</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #74C0FC;"></fa-icon>
                <span class="ms-2">Java</span>
              </div>
            </div>
          </div>
        </div>
        <!--FRONTEND-->
        <div class="col-lg-3 rounded-2 text-dark skill-card-style text-start">
          <div class="skill-card-title">
            <h1 class="ms-3">Frontend</h1>
          </div>
          <div class="container skill-card-content mb-3">
            <div class="row row-cols-1 gap-2">
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #FB9898;"></fa-icon>
                <span class="ms-2">Angular</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #74C0FC;"></fa-icon>
                <span class="ms-2">Flutter</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #63E6BE;"></fa-icon>
                <span class="ms-2">React Native</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #FB9898;"></fa-icon>
                <span class="ms-2">React</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #74C0FC;"></fa-icon>
                <span class="ms-2">Next.JS</span>
              </div>
            </div>
          </div>
        </div>
        <!--BACKEND-->
        <div class="col-lg-3 rounded-2 text-dark skill-card-style text-start">
          <div class="skill-card-title">
            <h1 class="ms-3">Backend</h1>
          </div>
          <div class="container skill-card-content mb-3">
            <div class="row row-cols-1 gap-2">
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #FFD43B;"></fa-icon>
                <span class="ms-2">.NET / ASP.NET Core</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #74C0FC;"></fa-icon>
                <span class="ms-2">Express.JS</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #B197FC;"></fa-icon>
                <span class="ms-2">Node.JS</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #FFD43B;"></fa-icon>
                <span class="ms-2">Spring Boot</span>
              </div>
            </div>
          </div>
        </div>
        <!--DATABASES-->
        <div class="col-lg-3 rounded-2 text-dark skill-card-style text-start">
          <div class="skill-card-title">
            <h1 class="ms-3">Databases</h1>
          </div>
          <div class="container skill-card-content mb-3">
            <div class="row row-cols-1 gap-2">
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #FB9898;"></fa-icon>
                <span class="ms-2">MS SQL Server</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #74C0FC;"></fa-icon>
                <span class="ms-2">MySQL</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #63E6BE;"></fa-icon>
                <span class="ms-2">PostgreSQL</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #FB9898;"></fa-icon>
                <span class="ms-2">SQLite</span>
              </div>
            </div>
          </div>
        </div>
        <!--TESTING-->
        <div class="col-lg-3 rounded-2 text-dark skill-card-style text-start">
          <div class="skill-card-title">
            <h1 class="ms-3">Testing</h1>
          </div>
          <div class="container skill-card-content mb-3">
            <div class="row row-cols-1 gap-2">
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #FFD43B;"></fa-icon>
                <span class="ms-2">Mocha</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #74C0FC;"></fa-icon>
                <span class="ms-2">Chai</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #B197FC;"></fa-icon>
                <span class="ms-2">Sinon</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #FFD43B;"></fa-icon>
                <span class="ms-2">Supertest</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #74C0FC;"></fa-icon>
                <span class="ms-2">Postman</span>
              </div>
            </div>
          </div>
        </div>
        <!--Tools-->
        <div class="col-lg-3 rounded-2 text-dark skill-card-style text-start">
          <div class="skill-card-title">
            <h1 class="ms-3">Tools</h1>
          </div>
          <div class="container skill-card-content mb-3">
            <div class="row row-cols-1 gap-2">
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #FB9898;"></fa-icon>
                <span class="ms-2">AWS Cloud</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #74C0FC;"></fa-icon>
                <span class="ms-2">Azure Cloud</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #63E6BE;"></fa-icon>
                <span class="ms-2">Docker</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #FB9898;"></fa-icon>
                <span class="ms-2">Linux</span>
              </div>
              <div class="col">
                <fa-icon class="fs-6 ms-1" [icon]="faAngleRight" style="color: #74C0FC;"></fa-icon>
                <span class="ms-2">Git</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
