<section class="position-relative w-100 m-0 p-0">
  <header class="m-0 p-0 bg-black">
    <app-navbar></app-navbar>
  </header>
  <main class="w-100 bg-white">
    <app-landing></app-landing>
    <app-about-me></app-about-me>
    <div class="my-5 py-3"></div>
    <app-skills></app-skills>
    <div class="my-5 py-3"></div>
    <app-projects></app-projects>
    <div class="my-5 py-3"></div>
    <app-achievements></app-achievements>
  </main>
  <footer class="w-100">
    <app-footer></app-footer>
  </footer>
</section>
