.header-container {
  margin: 0;
  padding: 0;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.main-container {
  width: 100%;
}

.footer-container {
  height: 45vh;
  width: 100%;
}
