@import '../styles.scss';

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  width: 100%;

  margin: 0px !important;
  padding: 0px !important;
}

.header-style {
  @extend %default-container-style;
}

.bg-style{
  background: linear-gradient(135deg, $base-color, $secondary-color 50%, #5B42F3);
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
