// Main Colors
$red-color: #ff0000;
$dark-red-color: #c00202;
$green-color: #5cdb95;
$dark-blue-color: #05386b;
$yellow-color: #FFEB3B;
$turq-color: #26ffdf;

$transparent-color: rgba(255, 255, 255, 0.2);

* {
  font-family: BF_Modernista_Solid-Medium, Purista-Bold, sans-serif;
}

%default-container-style {
  background: $transparent-color;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

%white-font-style {
  background: linear-gradient(135deg,hsla(0,0%,100%,0) 56%,#acacab 98%),linear-gradient(25deg,#030404 23%,#000000 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%button-credential-style {
  margin: 3rem auto;
  width: 80%;

  .button-credential {
    align-items: center;
    text-align: center;
    background-image: linear-gradient(144deg, $red-color, $yellow-color 50%, $turq-color);
    border: 0;
    border-radius: 0.5rem;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 1.25rem;
    justify-content: center;
    line-height: 1em;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  .button-credential:active,
  .button-credential:hover {
    outline: 0;
  }

  .button-credential span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .button-credential:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .button-credential {
      font-size: 24px;
      min-width: 196px;
    }
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
