// Main Colors
$base-color: #5cdb95;
$secondary-color: #05386b;
$white-color: #f1f8fc;

$transparent-color: rgba(255, 255, 255, 0.2);

%default-container-style {
  background: $transparent-color;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

%white-font-style {
  background: linear-gradient(135deg,hsla(0,0%,100%,0) 56%,#acacab 98%),linear-gradient(25deg,#f1f8fc 23%,#fff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
