/* You can add global styles to this file, and also import other style files */
$base-color: #5cdb95;
$secondary-color: #05386b;

html {
  scroll-behavior: smooth;
}

body {
  //height: 100vh;
  min-height: 100%;
  width: 100%;

  margin: 0px !important;
  padding: 0px !important;
}

.background {
  background: linear-gradient(135deg, $base-color, $secondary-color 50%, #5B42F3);
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
  position: relative;
  //height: 100vh;
  width: 100%;
  //overflow: hidden;
  padding:0;
  margin:0px;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
