<section id="Achievements" class="container-fluid d-flex flex-column justify-content-center">
  <div class="text-center my-5">
    <h1 class="achievements-title-style">My Achievements</h1>
  </div>
  <div class="container mb-3">
    <div class="row row-cols-3 justify-content-center align-items-center align-self-center gap-5">
      <div class="col rounded-3 text-white me-0 me-md-5 mb-0 mb-md-3 achievement-card-style h-100">
        <div class="card-content">
          <div class="card-image">
            <img class="no-rectangle" src="assets/unity_junior_programmer.png" alt="Unity Junior Programmer Image">
          </div>
          <div class="card-info">
            <h3 class="card-title">Unity Junior Programmer</h3>
          </div>
          <div class="card-button">
            <a class="button-credential" target="_blank" href="https://www.credly.com/badges/7ea91042-8ac9-4252-9607-c043f787a77b">
              <span class="pvs-navigation__text">
                Show Credential
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col rounded-3 text-white me-0 me-md-5 mb-0 mb-md-3 achievement-card-style">
        <div class="card-content">
          <div class="card-image">
            <img class="no-rectangle" src="assets/aws_cloud_practitioner.png" alt="AWS Cloud Practitioner Image">
          </div>
          <div class="card-info">
            <h3 class="card-title">AWS Cloud Practitioner</h3>
          </div>
          <div class="card-button">
            <a class="button-credential" target="_blank" href="https://www.credly.com/badges/7fcdb7d1-201c-42f0-a552-8a642adf0611">
              <span class="pvs-navigation__text">
                Show Credential
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
