@import '../../styles.scss';

.achievements-title-style{
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 2px;

  @extend %white-font-style;
}

.achievement-card-style {
  width: 20rem;
  height: 30rem;

  @extend %default-container-style;

  transition: transform 0.3s ease;
  transform: scale(1) translateZ(0);

  padding: 0.875rem 0.5rem;
  text-decoration: none;

  .card-content {
    padding: 1rem;

    .card-image {
      img {
        height: 100%;
        width: 100%;
        border-radius: 12px;
      }

      .no-rectangle {
        width: 70%;
        margin: 0 15%;
      }
    }

    .card-info {
      margin: 3rem 0;
      height: 3rem;
      .card-title {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    .card-button {
      @extend %button-credential-style;
    }
  }
}

.achievement-card-style:hover{
  transform: scale(1.05) translateZ(0);
}

@media only screen and (max-width: 600px) {
  .achievements-title-style{
    font-size: 2.5rem;
  }
}
