<section id="Achievements" class="achievements-section">
  <div class="achievements-title-container">
    <h1 class="achievements-title">My Achievements</h1>
  </div>
  <div class="achievements-cards-container">
    <div class="achievement-card">
      <div class="card-content">
        <div class="card-image">
          <img src="assets/ea_software_engineering.PNG" alt="EA Software Engineering Image">
        </div>
        <div class="card-info">
          <h3 class="card-title">EA Software Engineering</h3>
        </div>
        <div class="card-button">
          <a class="button-credential" target="_blank" href="https://forage-uploads-prod.s3.amazonaws.com/completion-certificates/Electronic%20Arts/a77WE3de8qrxWferQ_Electronic%20Arts_6TwbkWwYk4Mmqvghf_1725579930589_completion_certificate.pdf">
            <span class="pvs-navigation__text">
              Show credential
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="achievement-card">
      <div class="card-content">
        <div class="card-image">
          <img src="assets/jpmorgan_software_engineering.PNG" alt="JP Morgan Software Engineering Image">
        </div>
        <div class="card-info">
          <h3 class="card-title">JP Morgan Software Engineering</h3>
        </div>
        <div class="card-button">
          <a class="button-credential" target="_blank" href="https://forage-uploads-prod.s3.amazonaws.com/completion-certificates/J.P.%20Morgan/R5iK7HMxJGBgaSbvk_J.P.%20Morgan_6TwbkWwYk4Mmqvghf_1724606251054_completion_certificate.pdf">
            <span class="pvs-navigation__text">
              Show credential
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="achievement-card">
      <div class="card-content">
        <div class="card-image">
          <img src="assets/jpmorgan_agile.PNG" alt="JP Morgan Agile Image">
        </div>
        <div class="card-info">
          <h3 class="card-title">JP Morgan Agile</h3>
        </div>
        <div class="card-button">
          <a class="button-credential" target="_blank" href="https://forage-uploads-prod.s3.amazonaws.com/completion-certificates/J.P.%20Morgan/5QiaMtZ4k8ngYKn4D_JPMorgan%20Chase%20&%20Co._6TwbkWwYk4Mmqvghf_1725461924036_completion_certificate.pdf">
            <span class="pvs-navigation__text">
              Show credential
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="achievement-card">
      <div class="card-content">
        <div class="card-image">
          <img class="no-rectangle" src="assets/unity_junior_programmer.png" alt="Unity Junior Programmer Image">
        </div>
        <div class="card-info">
          <h3 class="card-title">Unity Junior Programmer</h3>
        </div>
        <div class="card-button">
          <a class="button-credential" target="_blank" href="https://www.credly.com/badges/7ea91042-8ac9-4252-9607-c043f787a77b">
            <span class="pvs-navigation__text">
              Show credential
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="achievement-card">
      <div class="card-content">
        <div class="card-image">
          <img class="no-rectangle" src="assets/aws_cloud_practitioner.png" alt="AWS Cloud Practitioner Image">
        </div>
        <div class="card-info">
          <h3 class="card-title">AWS Cloud Practitioner</h3>
        </div>
        <div class="card-button">
          <a class="button-credential" target="_blank" href="https://www.credly.com/badges/7fcdb7d1-201c-42f0-a552-8a642adf0611">
            <span class="pvs-navigation__text">
              Show credential
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="achievement-card">
      <div class="card-content">
        <div class="card-image">
          <img class="no-rectangle" src="assets/google_data_analytics.png" alt="Google Data Analytics Image">
        </div>
        <div class="card-info">
          <h3 class="card-title">Google Data Analytics</h3>
        </div>
        <div class="card-button">
          <a class="button-credential" target="_blank" href="https://www.credly.com/badges/4055b5ad-a8e7-4365-af04-cc1d55903dcd">
            <span class="pvs-navigation__text">
              Show credential
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
